* {
    margin: 0;
    padding: 0;
    box-sizing: Border-box;
    transition: all 0.5s ease-in-out;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 0;
}
.minion {
    position: absolute;
}
.code-wrapper {
    flex: 2;
    overflow: hidden;
}
#code {
    overflow: auto;
    height: 100%;
    padding: 1rem;
}
.preview-wrapper {
    flex: 3 0;
}

.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
#main {
    width: 200px;
    height: 360px;
}
#main * {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
